**/*.svg
.umi
.umi-production
/dist
.dockerignore
.DS_Store
.eslintignore
*.png
*.toml
docker
.editorconfig
Dockerfile*
.gitignore
.prettierignorek
LICENSE
.eslintcache
*.lock
yarn-error.log
.history
CNAME
/build
/public
